body {
background-color: orange;
}

img {
background-color: #333;
height: 30%;
width:  30%;
}

h1 {
color: black;
font-size: 260%;
}

p {
color: white;
font-size: small;
}

h2 {
color: white;
}

b {
text-align: left;
color: white;
}